
.Contact_container {
    background-color: rgba(34, 40, 49, .85);
    min-height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
}

.Contact_title {
    font-size: 75px;
}

.Contact_form_title {
    font-size: 35px;
}

.Contact {
    color: #f2f2f2;
    font-size: 25px;
    font-weight: 300;
    margin-left: 1%;
}