/* 
    grey-white: #f2f2f2
    orange: #f96d00
    dark grey: #393e46
    darker grey: #222831
*/

.Home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(34, 40, 49, .85);
    padding-left: 5%;
    padding-right: 5%;
}

.Home-title {
    font-size: 35px;
}

.Button {
    width: fit-content;
    height: fit-content;
}

.Message-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Contact-view {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    border: 2px solid #f96d00;
}


.Main-header {
    color: #f2f2f2;
}