/* 
    grey-white: #f2f2f2
    orange: #f96d00
    dark grey: #393e46
    darker grey: #222831
*/

.Resume_container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #393e46;
}

.Skill_list {
    display: flex;
    flex-direction: row;
}

.List_elements {
    color: #f2f2f2;
}

.School_list {
    padding-left: 2em;
}