.Main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    padding: 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-image: url(./res/HomeBackground.jpg);
    background-size: cover;
}