@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

.Main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    padding: 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-image: url(./res/HomeBackground.jpg);
    background-size: cover;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
    font-weight: 600;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
    font-weight: 300;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
}

label {
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
    font-weight: 300;
}

li {
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
    font-weight: 300;
}